ul.list-group {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.list-group li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

ul.list-group li.highlight {
	background-color: #A89676;
}

ul.list-group li:hover.highlight {
	background-color: #887456;
}

ul.list-group li:hover {
	background-color: #111;
}

ul.list-subgroup {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.list-subgroup li {
	float: left;
	position: relative;
	width: auto;
	height: auto;
	padding: 4px;
	margin: 10px 10px 10px 0;
	-webkit-border-radius: 4px;
	border: 1px solid transparent;
	border-color: #ccc;
	color: black;
}

ul.list-subgroup li.highlight {
	background-color: #4A6965;
	color: white;
}

ul.list-subgroup li:hover.highlight {
	background-color: #244745;
}

ul.list-subgroup li:hover {
	background-color: #BBB;
}

.inc-button, .dec-button {
	height: 28px;
	background: #f2f2f2;
	border-radius: 4px;
	margin: 5px;
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.qty {
	height: 34px;
	width: 100px;
	text-align: center;
	font-size: 18px;
	border: 1px sold #ddd;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	margin:5px;
}
.btn:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.btn:active {
	position:relative;
	top:1px;
}

.laundry-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.laundry-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.optionset-options {
	margin-left:20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.cart-row:after {
	content:"";
	display:table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.col-25, .col-75, input {
		width: 100%;
		margin-top: 0;
	}
}
