@media print /*--This is for Print--*/
{
    .btn
    {
        display: none;
    }
    .tble
    {
        background-color: #CD853F;
        border:1px solid green;
        -webkit-print-color-adjust: exact
/*above line of codes will set the table background-color and change the border color when we give the print and preview (print preview only when we see on print preview via browser) command*/

    }
}
@media screen /*--This is for Print Preview Screen--*/
{
    .btn
    {
        display: none;
    }

    .tble
    {
        background-color: #CD853F;
        border:1px solid green;
    }
    .li {
			padding: 20px;
			font-family: Helvetica;
			position: relative;
			overflow: hidden;
            margin-bottom: 10px;
		}
    .container {
			margin-top: 20px;
		}
    .table {
		border-collapse:collapse; 
	}
		
	.room {
	}
		
	.table tr:hover {
		background-color: #f5f5f5
	}
		
	.table th {
		width:100px; 
		word-wrap:break-word;
	}
	
	.table td {
		width:300px; 
		word-wrap:break-word;
		white-space:pre;
	}
  }